<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB659FFA21FF5D0800B3CC09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65A00E21FF5D0A00B3CC09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB65A01921FF5D0A00B3CC09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
